name: test-clang-format

on:
  push:
    branches:
      - '*'
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: DoozyX/clang-format-lint-action@v0.14
      with:
        source: './src/units ./include/units'
        extensions: 'hpp,cpp'
        clangFormatVersion: 14